*{
    margin: 0px;
    padding: 0px;
}
.headerText {
    margin-top: 60px;
}
h1 {
    font-size: 60px;
    font-weight: 800;
    color: aquamarine;
    text-align: center;
}
h3 {
    font-size: 48px;
    font-weight: 800;
    color: white;
    text-align: center;

}