input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  
  img {
    width: 300px;
    margin-bottom: 25px;
  }
 .wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px;
  }
  .resultCard {
 
    height: 100%;
    background-color: #dfa336;
    border-radius: 13px;
    padding: 20px;
    margin-bottom: 20px;
  } 
  .resultCard > li {
    font-size: 30px;
    padding: 10px;
    font-weight: 500;
    color: white;
  }